# ======================
# Global
# ======================
.env
.env.*
*.log

# ======================
# Docker
# ======================
docker-data/
mysql_data/
**/docker-data/

# ======================
# uploads images
# ======================
/uploads

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db